{% extends 'main.html' %}

{% block content %}
    <div class="home-container">
        <div>
            {% include 'base/topics_component.html' %}
        </div>
        
        <div>
            <div class="room-header">
                <div>
                    <h5>{{room_count}} Rooms Available</h5>
                </div>
                <a href="{% url 'create-room' %}" class="btn">
                    Create Room
                </a>
            </div>
            
            {% include 'base/feed_component.html' %}
        </div>

        <div>
            {% include 'base/recent_activities.html' %}
        </div>
    </div>
{% endblock %}