{% extends 'main.html' %}

{% block content %}
<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudBud Home</title>
</head>
<body>

    <style>
        .home-container {
            display : grid;
            grid-template-columns: 1fr 2fr 1fr;
            gap: 20px;
        }
    </style>

    <div class="home-container">

        <div>
            {% include 'base/topics_component.html' %}
        </div>
        

        <div>
            <h5>{{room_count}} Rooms Available</h5>
            <a href="{% url 'create-room' %}">
                <h3><button><h3>Create Room</h3></button></h3>
            </a>
            {% include 'base/feed_component.html' %}
        </div>

        <div>
            {% include 'base/recent_activities.html' %}
        </div>
    </div>
    {% endblock %}
</body>
</html>
