{% extends 'main.html' %}
{% block content %}

<h1>
    {{ room.name }}
</h1>
<p>Description: {{room.description}}</p>
<div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>
    {% for convo in conversation %}
    <div>
        <small>@{{convo.user}} {{convo.created | timesince}} ago </small>
        <li>{{convo.body}}</li>
        <hr>

    </div>    
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class = "comment-form">
    <form method = "POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message here..." />
    </form>
</div>
{% endif %}
{% endblock %}
