{% extends 'main.html' %}
{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h1>
            {{ room.name }}
        </h1>
        <p>Descrition: {{room.description}}</p>
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for convo in conversation %}
            <div>
                {% if request.user == convo.user %}
                <button><a href="{% url 'delete-message' convo.id %}">Delete </a></button> 
                <button><a href="{% url 'update-message' convo.id %}">Update</a></button>
                {% endif %}
                <small>@{{convo.user}} {{convo.updated | timesince}} ago </small>
                <li>{{convo.body}}</li>
                <hr>

            </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class = "comment-form">
            <form method = "POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here..." /> 
                <input type="submit" value="Send" />
            </form>
        </div>
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        {% for participant in participants %}

        <li><h3>@{{participant}}</h3></li>

        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}